<!-- <div style="width: 800px; height: 400px; margin: 20px;">
  <axcel-table [headerHeight]="40" [dataSources]="datas">
    <axcel-header frozen>ID</axcel-header>
    <axcel-header frozen>名前</axcel-header>
    <axcel-header>性別</axcel-header>
    <axcel-header>年齢</axcel-header>
    <axcel-header>月収</axcel-header>
    <axcel-header>ボーナス</axcel-header>
    <axcel-header>年収</axcel-header>
    <axcel-header>貯蓄</axcel-header>

    <axcel-column frozen [bind]="'id'"></axcel-column>
    <axcel-column frozen [bind]="'name'"></axcel-column>
    <axcel-column [bind]="'sex'"></axcel-column>
    <axcel-column [bind]="'age'"></axcel-column>
    <axcel-column [bind]="'monthly'"></axcel-column>
    <axcel-column [bind]="'bonus'"></axcel-column>
    <axcel-column [bind]="'annual'"></axcel-column>
    <axcel-column [bind]="'bank'"></axcel-column>
  </axcel-table>
</div> -->
<div style="width: 800px; height: 200px;">
  <div class="table-wrapper">
    <div class="table-top-left">No.</div>
    <div #headerScroll class="table-header-wrapper">
      <div class="table-header">
        <div>header1</div>
        <div>header2</div>
        <div>header3</div>
        <div>header4</div>
        <div>header1</div>
        <div>header2</div>
        <div>header3</div>
        <div>header4</div>
        <div>header1</div>
        <div>header2</div>
        <div>header3</div>
        <div>header4</div>
        <div>header1</div>
        <div>header2</div>
        <div>header3</div>
        <div>header4</div>
        <div>header1</div>
        <div>header2</div>
        <div>header3</div>
        <div>header4</div>
      </div>
    </div>
    <div #rulerScroll class="table-ruler">
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
      <div>雅楽</div>
    </div>
    <div #contentScroll class="table-content-wrapper" (scroll)="onContentScroll()">
      <div class="table-content">
        <div class="table-column">
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
          <div>雅楽</div>
        </div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
        <div>test some.</div>
      </div>
    </div>
  </div>
</div>