
<div *ngIf="hero$ | async as hero">
  {{hero.col}}
</div>
<p>
  {{userService?.user?.id}}
</p>
<p>
  Message: {{messageService.messages.col}}
</p>
<p>
  長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章
</p>
<button mat-raised-button color="accent" (click)="getData()">get</button>
<button mat-raised-button color="primary" (click)="postData()">post</button>
<button mat-raised-button color="warn" (click)="logout()">logout</button>
<p>
  <a routerLink="/my">my</a>
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
<p>
  文字数パッチ
</p>
